In [1]:
# import the library
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# sklearn :: utils
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import KFold
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

# sklearn :: models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

# sklearn :: evaluation metrics
from sklearn.metrics import cohen_kappa_score

sns.set_style('whitegrid')

# Problem definition

Predict when a pet will be adopted

# Load the data

In [2]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_state = pd.read_csv('state_labels.csv')
df_breed = pd.read_csv('breed_labels.csv')
df_color = pd.read_csv('color_labels.csv')
print(df_train.shape, df_test.shape)

(10000, 24) (4993, 23)

# Feature Engineering

In [3]:
df_train.head()

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,1,â¥â¥â¥ Lily â¥â¥â¥,36,307,0,2,2,7,0,2,...,1,1,0,41326,337914b09c2fa5460e195197e994ef98,0,Adorable 3 year old Lily looking for a forever...,3f8824a3b,1.0,4
1,2,Cookie,3,266,0,1,6,7,0,2,...,1,1,0,41327,4bb1ebb92158078ad54a6bb23c10dffc,0,i rescue this stary kitten from market near my...,9238eb7fc,1.0,2
2,2,Favour Speedy Abundance And Courage,7,250,252,1,1,2,0,2,...,1,4,0,41327,99ba8ce53b4d8515e417e7921563d923,0,The mother was a Burmese cross and had since p...,f0a1f2b90,2.0,4
3,1,NaN,3,307,0,1,2,0,0,3,...,1,1,0,41327,3f3ef74c486beba3bc87f6dbaee772bf,0,This puppy is: 1. Male 2. 3 months old 3. Brow...,7d028bdea,4.0,2
4,2,Abandoned Kitty,1,266,0,1,1,6,7,1,...,1,1,0,41401,844f03ab8054007d4be6686f3a9702b9,0,Mother cat gave birth to a litter of 3 and too...,8377bfe97,0.0,2

In [4]:
df_breed.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [5]:
df_state.head()

   StateID     StateName
0    41336         Johor
1    41325         Kedah
2    41367      Kelantan
3    41401  Kuala Lumpur
4    41415        Labuan

In [6]:
df_color.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

# Clean the data

In [7]:
df_train['Type'] = df_train['Type'].replace(to_replace = [1,2], value=['Dog', 'Cat'])
df_train['Gender'] = df_train['Gender'].replace(to_replace = [1,2,3], value=['Male', 'Female','Mixed'])
df_train['MaturitySize'] = df_train['MaturitySize'].replace(to_replace = [0,1,2,3,4], value=['Not Specified','Small', 'Medium','Large','Extra Large'])
df_train['FurLength'] = df_train['FurLength'].replace(to_replace = [0,1,2,3], value=['Not Specified','Short', 'Medium','Long'])
df_train['Vaccinated'] = df_train['Vaccinated'].replace(to_replace = [1,2,3], value=['Yes','No','Not Sure'])
df_train['Dewormed'] = df_train['Dewormed'].replace(to_replace = [1,2,3], value=['Yes','No','Not Sure'])
df_train['Sterilized'] = df_train['Sterilized'].replace(to_replace = [1,2,3], value=['Yes','No','Not Sure'])
df_train['Health'] = df_train['Health'].replace(to_replace = [0,1,2,3], value=['Not Specified','Healthy','Minor Injury','Serious Injury'])
df_train.rename(columns={'Type': 'Pet_Type'})

,Pet_Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,Dog,â¥â¥â¥ Lily â¥â¥â¥,36,307,0,Female,2,7,0,Medium,...,Healthy,1,0,41326,337914b09c2fa5460e195197e994ef98,0,Adorable 3 year old Lily looking for a forever...,3f8824a3b,1.0,4
1,Cat,Cookie,3,266,0,Male,6,7,0,Medium,...,Healthy,1,0,41327,4bb1ebb92158078ad54a6bb23c10dffc,0,i rescue this stary kitten from market near my...,9238eb7fc,1.0,2
2,Cat,Favour Speedy Abundance And Courage,7,250,252,Male,1,2,0,Medium,...,Healthy,4,0,41327,99ba8ce53b4d8515e417e7921563d923,0,The mother was a Burmese cross and had since p...,f0a1f2b90,2.0,4
3,Dog,NaN,3,307,0,Male,2,0,0,Large,...,Healthy,1,0,41327,3f3ef74c486beba3bc87f6dbaee772bf,0,This puppy is: 1. Male 2. 3 months old 3. Brow...,7d028bdea,4.0,2
4,Cat,Abandoned Kitty,1,266,0,Male,1,6,7,Small,...,Healthy,1,0,41401,844f03ab8054007d4be6686f3a9702b9,0,Mother cat gave birth to a litter of 3 and too...,8377bfe97,0.0,2
5,Dog,Duke,3,218,0,Male,3,5,0,Medium,...,Healthy,1,0,41326,aa66486163b6cbc25ea62a34b11c9b91,0,Duke has black fur,965b31ba7,2.0,1
6,Dog,Lila,2,307,0,Female,1,7,0,Small,...,Healthy,1,0,41326,d21f689eab9b3faa1b738ecc836b4b36,0,Lila is a pleasant little girl who we think is...,3760c73b1,1.0,4
7,Dog,Doggie2_Selangor Area,8,307,0,Female,6,0,0,Medium,...,Healthy,1,0,41336,8f955b588a9e571d8e267cd73cdd8a45,0,"Remember my friend – ADOPT, DON’T BUY! Keep in...",f41a7de83,2.0,4
8,Cat,NaN,1,243,245,Female,1,2,7,Small,...,Minor Injury,1,0,41326,2587c9957372fc186d3b95cfd12cf322,0,urgent for adoption as I have no experience in...,7b660c6af,4.0,3
9,Dog,Brother,6,307,0,Male,2,7,0,Small,...,Healthy,1,0,41327,b84a2dd96249074fc4b276e55f608d21,0,"It's very playful and active dog, Like to play...",f94c2a347,2.0,4
10,Cat,"Boboy, Black And Friends",12,266,0,Mixed,1,4,7,Large,...,Healthy,5,0,41401,b5950e3453c98daba8642f721ce85ba9,0,Ada 5 ekor kucing untuk adoption. Mereka adala...,c5072890c,5.0,4
11,Dog,Sasha,27,307,0,Female,3,0,0,Medium,...,Healthy,1,0,41401,998b9ae6ce5340eac37bfccfee6e3c9a,0,Sasha was dumped in Sri Hartamas about 9 month...,a0e71d03a,4.0,4
12,Dog,Doggie,12,307,0,Male,2,0,0,Large,...,Healthy,1,0,41326,6345f51519eded0a7b12d4eb31958e18,0,This dog was once owned by my neighbour when i...,a37c82165,1.0,1
13,Dog,Ryan,2,307,0,Male,1,2,7,Medium,...,Healthy,1,20,41327,7ed6d84e2e6879245e55447aee39c328,0,The puppy is currently taking shelter at SPCA ...,d0aa84916,1.0,3
14,Cat,Lucky,3,266,0,Male,3,0,0,Medium,...,Healthy,1,0,41401,01f954cdf61526daf3fbeb8a074be742,0,This is Lucky. Why Lucky? He was save by my fr...,765039f34,6.0,3
15,Cat,3 Beautiful Black Kittens,4,299,299,Mixed,1,0,0,Medium,...,Healthy,3,0,41401,4fff19129eb51507da75e440270c0b11,0,Calling all the cat lovers who would like to a...,37ea8d2db,11.0,4
16,Cat,NaN,2,285,0,Female,3,0,0,Large,...,Healthy,1,750,41326,c004c5b717affa9822d9ec1ad3eb00fd,0,Looking for serius buyer Only female 2 month p...,5b07e0e6a,5.0,2
17,Dog,Maximilus,12,72,0,Male,2,0,0,Medium,...,Healthy,1,0,41326,95481e953f8aed9ec3d16fc4509537e8,0,Max is the most adorable corgi mix you would h...,edd2ebd5e,2.0,1
18,Cat,NaN,1,265,265,Mixed,6,0,0,Medium,...,Healthy,2,0,41401,22d9e67d412f25866e09f2c098a6ebef,0,Hi here 2 cute kitty for adoption anyone inter...,2d758a13b,5.0,1
19,Dog,Frodo,2,307,0,Male,2,0,0,Medium,...,Healthy,1,0,41326,4adf17f7d78a2ea23a77ff056b5e7779,0,Frodo was found in the compound of my neighbou...,ee3b21a9a,3.0,1
20,Cat,Cloe,4,266,265,Female,1,2,7,Medium,...,Healthy,1,65,41326,18040c4e8dba340ae2a9eb2c6632a647,0,Cloe was born on 17. March . She is a very bea...,324266c95,5.0,2
21,Cat,NaN,5,295,0,Female,6,7,0,Medium,...,Healthy,1,0,41401,47e122a903cad1e2481fa9b84b8db59f,0,"very furry, beautiful tail and ear",1ed55129a,2.0,1
22,Dog,Frosty,2,307,0,Female,7,0,0,Medium,...,Healthy,1,20,41327,7ed6d84e2e6879245e55447aee39c328,0,The puppy is currently taking shelter at SPCA ...,41b98eea2,1.0,2
23,Dog,Amber,48,128,0,Female,2,7,0,Small,...,Healthy,1,0,41326,ec45cf345bf63ed4705049127fda8ac5,0,A 4 years old female Jack Russel Terrier for a...,bf99a973b,0.0,4
24,Cat,Aswad,2,266,0,Female,1,5,0,Medium,...,Healthy,1,0,41326,2fd71579abb6b187630197e7d5b3f1db,0,The most fun-loving cat one could have! sms/wh...,5de61cf6b,3.0,2
25,Cat,"Moo, Milo And Swifty",2,285,266,Mixed,1,2,7,Small,...,Healthy,3,0,41326,b850a575552bc0178aad2b85dbbb318e,0,I have three kittens up for adoption. Their mu...,7addf37de,3.0,3
26,Cat,Moglet,3,266,0,Male,2,0,0,Medium,...,Healthy,1,100,41326,09771cded8c18d94a16a6548377410a8,0,MOGLET Domestic shorthair kitten with mackerel...,5bae0f028,3.0,3
27,Dog,MiMi,48,218,205,Female,7,0,0,Medium,...,Healthy,1,0,41326,23dd4a93a37a6708c6c69c2879c185ed,0,"Mimi is a very fun, easy-going and clever dog....",2533f425e,5.0,2
28,Cat,Angel,2,265,0,Female,4,7,0,Medium,...,Minor Injury,1,0,41326,fc7d315a17b33e3b54d09a1afd742ced,0,Hi everybody! My name is Angel and I'm a girl....,98f5b7ecf,4.0,3
29,Cat,Nikko,4,266,0,Male,1,7,0,Large,...,Healthy,2,0,41326,21e79bbc000b68ac3e2514e6f595b85a,0,Very cuddly & active. Big attention seeker. Be...,ec8608c1c,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,Cat,Litt' Vamp,2,266,0,Male,1,7,0,Medium,...,Healthy,1,0,41326,ba95caa959cea1a5ebd6a59b3e147f7a,0,Litt' Vamp is a cute little bundle of fur with...,b19556858,4.0,2
9971,Cat,Bui Bui,12,266,0,Female,3,0,0,Medium,...,Healthy,1,50,41401,0b988e2ea168cb196edeba5e297e3bcc,0,A super manja and gentle cat who loves cuddle.,07d2a9eff,1.0,1
9972,Cat,Tala,7,265,0,Female,2,7,0,Medium,...,Healthy,1,0,41326,426b95ac7611d447835ed0dcd9091837,0,"I rescued her from street, It was 5 months ago...",96cf0efdb,3.0,4
9973,Dog,K-26 Hojo/ Energetic Guy,24,307,0,Male,3,0,0,Medium,...,Healthy,1,0,41401,ee2747ce26468ec44c7194e7d1d9dad9,0,"Hojo is now a strong , healthy & vibrant lad w...",9d4e91ab0,8.0,4
9974,Cat,"FREE KITTENS. (URGENT, PLEASE READ)",1,266,266,Mixed,2,5,7,Small,...,Healthy,3,0,41326,f123745af12d52a752542bd325badda1,0,My grandparents recently adopted a year old fe...,c18a1acc6,3.0,4
9975,Cat,"Bobot, Momot, Kokot & Nini",3,299,265,Mixed,6,0,0,Medium,...,Healthy,3,0,41326,ca58077c7cd1124f91f76ec54937aaea,0,This kitten were rescued. They need a home. I ...,50bbe8e31,7.0,2
9976,Cat,Omey,3,265,0,Female,3,5,7,Medium,...,Healthy,1,50,41401,98dbf5523142a9c116f51bc7e1cc65a5,0,"This is Omey.. She's very lovely,manja,and sil...",2127c6e1f,0.0,3
9977,Cat,Jenny,2,266,0,Female,3,5,6,Small,...,Healthy,1,0,41401,2c711fc92ce10361f5b624d5a9c1e139,0,Jenny is a delightful little girl kitten. She ...,c458c51c0,3.0,2
9978,Cat,Kumbang,24,264,0,Male,1,7,0,Medium,...,Healthy,1,200,41326,aac64f077dc0839603ffaa710dac872c,0,"Kumbang is super clingy, friendly and love to ...",7d2811dc5,1.0,1
9979,Dog,PUPS FOR ADOPTION!,3,307,0,Male,1,2,7,Small,...,Minor Injury,9,0,41326,c556296168080b6e576647e820903b9d,0,These 9 mixed breed pups were found outside my...,84ce5f32b,9.0,2
9980,Dog,Buddy,15,307,0,Male,2,0,0,Large,...,Healthy,1,0,41326,b53c009d65a6d34c33233b55b9cfb601,0,Buddy was born in the parking area with total ...,dc4e92b83,2.0,4
9981,Dog,Eyes Just Opened!,1,307,0,Mixed,1,7,0,Medium,...,Healthy,9,0,41326,d1d34c64b5ab9b9f7c086187f96db972,1,Thanks everyone for the calls! Happy to say th...,09ca98f7b,14.0,3
9982,Cat,Ben,3,265,0,Male,6,7,0,Medium,...,Healthy,1,0,41326,6407425d7407f5334d8fec7f200e2b2e,0,"Sangat manja,comel..",4e8f0401d,3.0,4
9983,Dog,Mr Tiny,5,307,0,Male,2,0,0,Small,...,Healthy,1,0,41326,7e3c28c5fdac90b3d4ff3288ac85827e,0,Takes Instructions Easily. Self-trained guard ...,c919eb44b,5.0,2
9984,Cat,Bobo,4,247,292,Male,7,0,0,Medium,...,Healthy,2,100,41326,5eaaa88b5605e700707d363dd1330273,0,Healthy and playful..toilet train.,5d8568dbd,1.0,2
9985,Cat,Scarlett,1,266,0,Female,4,5,7,Medium,...,Healthy,1,0,41326,e62135526c27156b8479420aad166317,0,"Introducing Scarlett: ♦Female, 6 weeks old. ♦F...",c5e4cfab0,3.0,2
9986,Cat,"Simba,bula-bula,shelo,nala And Zazu",2,265,0,Mixed,1,4,7,Small,...,Healthy,5,0,41326,fac0bde06d5f30f9156e8684edc85d45,0,"nye's beautiful kitten.hmm,i know im wrong.eve...",7baa8082a,5.0,3
9987,Cat,Kimchi,3,254,0,Female,1,2,7,Small,...,Healthy,1,0,41326,5f86038e50ce0def545e64f9a06ab5e2,0,"Very friendly, close to human, could be good f...",472e86a83,2.0,4
9988,Cat,Musang,6,265,0,Female,2,5,6,Medium,...,Healthy,1,0,41336,a091196f4e922738eea0a55fa4bb8f7e,0,Musang was born at my house. When she was 4-mt...,8415aff49,3.0,2
9989,Dog,Justin,12,195,0,Male,1,6,7,Medium,...,Healthy,1,200,41326,55031315f7bac6061ec15ddcf928185c,0,for adpot with cert pls call dog very healty n...,bb8795c8d,3.0,1
9990,Dog,Amos,3,239,307,Male,1,2,0,Medium,...,Healthy,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Lovely puppy looking for a home sweet home. If...,b09fa9385,2.0,3
9991,Dog,Minnie,1,307,0,Female,1,2,0,Medium,...,Healthy,1,0,41326,893d9ac780c0203804dc170eee0144cd,0,This minnie. She is very quiet and pampered pu...,b32339429,5.0,4
9992,Cat,Meow Zai,2,299,0,Male,4,6,0,Medium,...,Healthy,2,100,41401,1faf0ae111772205cf2f28b3ecea3276,0,"Can eat dried food, use cat sands. Well traine...",6dbb13673,3.0,4
9993,Cat,SOS ð Owner Leaving Msia,24,266,0,Female,2,3,7,Medium,...,Healthy,1,0,41326,dd7e4618761fb9c590572a6a95cf8df8,0,Posting on behalf of the owner. Owner is leavi...,9e7aa5866,7.0,1
9994,Cat,Levi,6,285,265,Male,6,7,0,Medium,...,Healthy,1,200,41326,995cf22984882044311ce85ead68b920,0,"levi's is a manja cat,so clever,likes to sleep...",9e11a3158,5.0,2
9995,Dog,Dawn,1,307,0,Female,2,5,7,Medium,...,Healthy,1,0,41326,42d5612bc1a78caec3e1342449cb08fd,0,Dear All!! I've found my FOREVER HUMAN on 28 J...,b05d0484f,11.0,1
9996,Dog,NaN,5,307,0,Female,5,0,0,Medium,...,Minor Injury,2,0,41330,2fb7d7718f9c7704ab9ae80d95f56597,0,Two lovely pups for adoption. They are super f...,b586e1ea4,3.0,4
9997,Cat,Isabella,2,265,0,Female,3,6,7,Medium,...,Healthy,1,0,41401,5e21416ee557e7470d1113dd98a7e3ae,0,Kitten Isabella is one of five lovely kittens ...,13264f4f4,5.0,3
9998,Dog,Brisco,1,307,0,Male,2,7,0,Medium,...,Healthy,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3
9999,Cat,NaN,1,266,0,Female,1,2,0,Small,...,Healthy,1,0,41326,d663589ebd522d9bcc362a9ca68e4c26,0,Found this little fur ball at the staircase ju...,8991aff61,4.0,3

# Merging Data Sets

In [8]:
df_merge = df_train.copy()
df_merge = df_merge.merge(df_color, how='outer',
            left_on=['Color1'], right_on =['ColorID']) 
df_merge = df_merge.drop('ColorID', 1)
df_merge = df_merge.rename(columns={'ColorName': 'ColorName1'})

In [9]:
df_merge2 = df_merge.merge(df_color, how='outer',
            left_on=['Color2'], right_on =['ColorID']) 
df_merge2 = df_merge2.drop('ColorID', 1)
df_merge2 = df_merge2.rename(columns={'ColorName': 'ColorName2'})

In [10]:
df_merge3 = df_merge2.merge(df_color, how='outer',
            left_on=['Color3'], right_on =['ColorID']) 
df_merge3 = df_merge3.drop('ColorID', 1)
df_merge3 = df_merge3.rename(columns={'ColorName': 'ColorName3'})

In [11]:
df_merge4 = df_merge3.merge(df_breed, how='left',
            left_on=['Breed1'], right_on =['BreedID']) 
df_merge4 = df_merge4.drop('BreedID',1)
df_merge4 = df_merge4.rename(columns={'BreedName': 'Breed1'})

In [12]:
df_merge5 = df_merge4.merge(df_breed, how='left',
            left_on=['Breed2'], right_on =['BreedID']) 
df_merge5 = df_merge5.drop('BreedID',1)
df_merge5 = df_merge5.rename(columns={'BreedName': 'Breed2'})
df_merge5.head()

,Type_x,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,PetID,PhotoAmt,AdoptionSpeed,ColorName1,ColorName2,ColorName3,Type_y,Breed1,Type,Breed2
0,Dog,â¥â¥â¥ Lily â¥â¥â¥,36.0,307.0,0.0,Female,2.0,7.0,0.0,Medium,...,3f8824a3b,1.0,4.0,Brown,White,NaN,1.0,Mixed Breed,NaN,NaN
1,Dog,Brother,6.0,307.0,0.0,Male,2.0,7.0,0.0,Small,...,f94c2a347,2.0,4.0,Brown,White,NaN,1.0,Mixed Breed,NaN,NaN
2,Dog,Amber,48.0,128.0,0.0,Female,2.0,7.0,0.0,Small,...,bf99a973b,0.0,4.0,Brown,White,NaN,1.0,Jack Russell Terrier,NaN,NaN
3,Dog,Aerin,4.0,18.0,307.0,Female,2.0,7.0,0.0,Medium,...,4c674cc1f,4.0,2.0,Brown,White,NaN,1.0,Basenji,1.0,Mixed Breed
4,Dog,NaN,1.0,307.0,0.0,Mixed,2.0,7.0,0.0,Small,...,631c813af,4.0,1.0,Brown,White,NaN,1.0,Mixed Breed,NaN,NaN

In [13]:
df = df_merge5

In [14]:
# Check for missing values
df.isnull().sum(axis = 0)

Type_x              3
Name              845
Age                 3
Breed1              3
Breed2              3
Gender              3
Color1              3
Color2              3
Color3              3
MaturitySize        3
FurLength           3
Vaccinated          3
Dewormed            3
Sterilized          3
Health              3
Quantity            3
Fee                 3
State               3
RescuerID           3
VideoAmt            3
Description        11
PetID               3
PhotoAmt            3
AdoptionSpeed       3
ColorName1          3
ColorName2       2962
ColorName3       7081
Type_y              5
Breed1              5
Type             7215
Breed2           7215
dtype: int64

In [15]:
# apply dummies on the training set
for col in ['Gender', 'Color1', 'Color2', 'Color3', 'MaturitySize','FurLength', 'Vaccinated', 'Dewormed', 'Sterilized', 'Health']:
    df_dummies = pd.get_dummies(df_train[col], prefix=col)
    df_dummies.columns = [str(col)+'_'+str(c) for c in df_dummies.columns]
    df_train = pd.concat([df_train, df_dummies], axis=1)
    del df_train[col]

df_train.head()

,Type,Name,Age,Breed1,Breed2,Quantity,Fee,State,RescuerID,VideoAmt,...,Vaccinated_Vaccinated_Yes,Dewormed_Dewormed_No,Dewormed_Dewormed_Not Sure,Dewormed_Dewormed_Yes,Sterilized_Sterilized_No,Sterilized_Sterilized_Not Sure,Sterilized_Sterilized_Yes,Health_Health_Healthy,Health_Health_Minor Injury,Health_Health_Serious Injury
0,Dog,â¥â¥â¥ Lily â¥â¥â¥,36,307,0,1,0,41326,337914b09c2fa5460e195197e994ef98,0,...,1,1,0,0,0,0,1,1,0,0
1,Cat,Cookie,3,266,0,1,0,41327,4bb1ebb92158078ad54a6bb23c10dffc,0,...,0,0,0,1,1,0,0,1,0,0
2,Cat,Favour Speedy Abundance And Courage,7,250,252,4,0,41327,99ba8ce53b4d8515e417e7921563d923,0,...,1,0,0,1,1,0,0,1,0,0
3,Dog,NaN,3,307,0,1,0,41327,3f3ef74c486beba3bc87f6dbaee772bf,0,...,0,1,0,0,1,0,0,1,0,0
4,Cat,Abandoned Kitty,1,266,0,1,0,41401,844f03ab8054007d4be6686f3a9702b9,0,...,0,1,0,0,1,0,0,1,0,0

In [23]:
df_train.columns

Index(['Type', 'Name', 'Age', 'Breed1', 'Breed2', 'Quantity', 'Fee', 'State',
       'RescuerID', 'VideoAmt', 'Description', 'PetID', 'PhotoAmt',
       'AdoptionSpeed', 'Gender_Gender_Female', 'Gender_Gender_Male',
       'Gender_Gender_Mixed', 'Color1_Color1_1', 'Color1_Color1_2',
       'Color1_Color1_3', 'Color1_Color1_4', 'Color1_Color1_5',
       'Color1_Color1_6', 'Color1_Color1_7', 'Color2_Color2_0',
       'Color2_Color2_2', 'Color2_Color2_3', 'Color2_Color2_4',
       'Color2_Color2_5', 'Color2_Color2_6', 'Color2_Color2_7',
       'Color3_Color3_0', 'Color3_Color3_3', 'Color3_Color3_4',
       'Color3_Color3_5', 'Color3_Color3_6', 'Color3_Color3_7',
       'MaturitySize_MaturitySize_Extra Large',
       'MaturitySize_MaturitySize_Large', 'MaturitySize_MaturitySize_Medium',
       'MaturitySize_MaturitySize_Small', 'FurLength_FurLength_Long',
       'FurLength_FurLength_Medium', 'FurLength_FurLength_Short',
       'Vaccinated_Vaccinated_No', 'Vaccinated_Vaccinated_Not Sure',
       'Vaccinated_Vaccinated_Yes', 'Dewormed_Dewormed_No',
       'Dewormed_Dewormed_Not Sure', 'Dewormed_Dewormed_Yes',
       'Sterilized_Sterilized_No', 'Sterilized_Sterilized_Not Sure',
       'Sterilized_Sterilized_Yes', 'Health_Health_Healthy',
       'Health_Health_Minor Injury', 'Health_Health_Serious Injury'],
      dtype='object')

In [35]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 56 columns):
Type                                     10000 non-null object
Name                                     9158 non-null object
Age                                      10000 non-null int64
Breed1                                   10000 non-null int64
Breed2                                   10000 non-null int64
Quantity                                 10000 non-null int64
Fee                                      10000 non-null int64
State                                    10000 non-null int64
RescuerID                                10000 non-null object
VideoAmt                                 10000 non-null int64
Description                              9992 non-null object
PetID                                    10000 non-null object
PhotoAmt                                 10000 non-null float64
AdoptionSpeed                            10000 non-null int64
Gender_Gender_Female                     10000 non-null uint8
Gender_Gender_Male                       10000 non-null uint8
Gender_Gender_Mixed                      10000 non-null uint8
Color1_Color1_1                          10000 non-null uint8
Color1_Color1_2                          10000 non-null uint8
Color1_Color1_3                          10000 non-null uint8
Color1_Color1_4                          10000 non-null uint8
Color1_Color1_5                          10000 non-null uint8
Color1_Color1_6                          10000 non-null uint8
Color1_Color1_7                          10000 non-null uint8
Color2_Color2_0                          10000 non-null uint8
Color2_Color2_2                          10000 non-null uint8
Color2_Color2_3                          10000 non-null uint8
Color2_Color2_4                          10000 non-null uint8
Color2_Color2_5                          10000 non-null uint8
Color2_Color2_6                          10000 non-null uint8
Color2_Color2_7                          10000 non-null uint8
Color3_Color3_0                          10000 non-null uint8
Color3_Color3_3                          10000 non-null uint8
Color3_Color3_4                          10000 non-null uint8
Color3_Color3_5                          10000 non-null uint8
Color3_Color3_6                          10000 non-null uint8
Color3_Color3_7                          10000 non-null uint8
MaturitySize_MaturitySize_Extra Large    10000 non-null uint8
MaturitySize_MaturitySize_Large          10000 non-null uint8
MaturitySize_MaturitySize_Medium         10000 non-null uint8
MaturitySize_MaturitySize_Small          10000 non-null uint8
FurLength_FurLength_Long                 10000 non-null uint8
FurLength_FurLength_Medium               10000 non-null uint8
FurLength_FurLength_Short                10000 non-null uint8
Vaccinated_Vaccinated_No                 10000 non-null uint8
Vaccinated_Vaccinated_Not Sure           10000 non-null uint8
Vaccinated_Vaccinated_Yes                10000 non-null uint8
Dewormed_Dewormed_No                     10000 non-null uint8
Dewormed_Dewormed_Not Sure               10000 non-null uint8
Dewormed_Dewormed_Yes                    10000 non-null uint8
Sterilized_Sterilized_No                 10000 non-null uint8
Sterilized_Sterilized_Not Sure           10000 non-null uint8
Sterilized_Sterilized_Yes                10000 non-null uint8
Health_Health_Healthy                    10000 non-null uint8
Health_Health_Minor Injury               10000 non-null uint8
Health_Health_Serious Injury             10000 non-null uint8
dtypes: float64(1), int64(8), object(5), uint8(42)
memory usage: 1.5+ MB

In [24]:
# select the columns
X_columns = ['Age', 'Fee', 'FurLength_FurLength_Long',
       'FurLength_FurLength_Medium', 'FurLength_FurLength_Short',
       'Vaccinated_Vaccinated_No', 'Vaccinated_Vaccinated_Not Sure',
       'Vaccinated_Vaccinated_Yes', 'Dewormed_Dewormed_No',
       'Dewormed_Dewormed_Not Sure', 'Dewormed_Dewormed_Yes',
       'Sterilized_Sterilized_No', 'Sterilized_Sterilized_Not Sure',
       'Sterilized_Sterilized_Yes', 'Health_Health_Healthy',
       'Health_Health_Minor Injury', 'Health_Health_Serious Injury']
y_column = ['AdoptionSpeed']

# Model Training

In [25]:
# split the data using sklearn

threshold = 0.8
X = df_train[X_columns]
y = df_train[y_column]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1.0-threshold, shuffle=True)

print('X_train', X_train.shape)
print('y_train', y_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)

X_train (8000, 17)
y_train (8000, 1)
X_test (2000, 17)
y_test (2000, 1)

In [26]:
# from sklearn.model_selection import cross_val_score
# List = list(range(1,50))
# neighbors = filter(lambda x: x % 2 != 0, List)
# cv_scores = []
# for k in neighbors:
#     knn = KNeighborsClassifier(n_neighbors=k)
#     scores = cross_val_score(knn, X_train, y_train.values.ravel(), cv=10, scoring='accuracy')
#     cv_scores.append(scores.mean())

models = [
    ('Naive Bayes', GaussianNB()),
    ('RandomForestClassifier10', RandomForestClassifier(n_estimators=10)),
    ('RandomForestClassifier100', RandomForestClassifier(n_estimators=100, random_state=42)),
    ('KNeighborsClassifier9', KNeighborsClassifier(n_neighbors=9)),
    ('DecisionTreeClassifier', DecisionTreeClassifier())
]
results = []
for m in models:
    print('MODEL', m[0])
    model = m[1]
    model.fit(X_train, y_train.values.ravel())
    y_pred = model.predict(X_test)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    print(confusion_matrix(y_test, y_pred))
    print('Precision', precision)
    print('Recall', recall)
    results.append([m[0], precision, recall])
    
    # if there is a feature importance, print top 5
    importance = []
    if hasattr(model, 'feature_importances_'):
        print('Feature Importance')
        importance = []
        for i in range(len(X_columns)):
            importance.append([X_columns[i], model.feature_importances_[i]])
        print(pd.DataFrame(importance).sort_values(by=1, ascending=False).head(10))
    elif hasattr(model, 'coef_'):
        print('Feature Importance')
        for i in range(len(X_columns)):
            importance.append([X_columns[i], model.coef_[i]])
        print(pd.DataFrame(importance).sort_values(by=1, ascending=False).head(10))
        
    print('')

# sort the results and print as a table
df_results = pd.DataFrame(results)
df_results.columns = ['model', 'precision', 'recall']
df_results = df_results.sort_values(by='precision', ascending=False)
df_results

MODEL Naive Bayes
[[  3  37   0   0  13]
 [ 24 319   0   4  60]
 [ 32 377   0   6 101]
 [ 21 288   0   9 110]
 [ 43 319   0  10 224]]
Precision 0.24690685862374387
Recall 0.2775

MODEL RandomForestClassifier10
[[  2   9  18   9  15]
 [  6 109 154  57  81]
 [  7 113 200  91 105]
 [  1  84 150  86 107]
 [  4  93 178  77 244]]
Precision 0.3199678449640726
Recall 0.3205
Feature Importance
                             0         1
0                          Age  0.524872
1                          Fee  0.235814
11    Sterilized_Sterilized_No  0.036264
3   FurLength_FurLength_Medium  0.021586
4    FurLength_FurLength_Short  0.020637
5     Vaccinated_Vaccinated_No  0.019028
2     FurLength_FurLength_Long  0.016476
10       Dewormed_Dewormed_Yes  0.016438
7    Vaccinated_Vaccinated_Yes  0.015866
14       Health_Health_Healthy  0.014958

MODEL RandomForestClassifier100

/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

[[  2  13  19   8  11]
 [  4 110 166  45  82]
 [  5 105 209  86 111]
 [  1  84 154  80 109]
 [  6  98 173  78 241]]
Precision 0.319608276854066
Recall 0.321
Feature Importance
                             0         1
0                          Age  0.517207
1                          Fee  0.248577
11    Sterilized_Sterilized_No  0.027801
4    FurLength_FurLength_Short  0.021336
3   FurLength_FurLength_Medium  0.021126
13   Sterilized_Sterilized_Yes  0.017479
2     FurLength_FurLength_Long  0.017361
5     Vaccinated_Vaccinated_No  0.016667
10       Dewormed_Dewormed_Yes  0.016650
7    Vaccinated_Vaccinated_Yes  0.015845

MODEL KNeighborsClassifier9
[[  2  13  15   8  15]
 [  2 148 121  56  80]
 [  1 140 165 101 109]
 [  0 103 126  87 112]
 [  1 112 139 107 237]]
Precision 0.3219885744701415
Recall 0.3195

MODEL DecisionTreeClassifier
[[  3  14  21   3  12]
 [  6 123 169  46  63]
 [  5 113 223  82  93]
 [  4  90 168  77  89]
 [ 10 112 186  78 210]]
Precision 0.32484789940298026
Recall 0.318
Feature Importance
                                 0         1
0                              Age  0.406712
1                              Fee  0.251706
4        FurLength_FurLength_Short  0.038383
5         Vaccinated_Vaccinated_No  0.038241
10           Dewormed_Dewormed_Yes  0.034723
11        Sterilized_Sterilized_No  0.028370
3       FurLength_FurLength_Medium  0.025482
6   Vaccinated_Vaccinated_Not Sure  0.024089
15      Health_Health_Minor Injury  0.023459
8             Dewormed_Dewormed_No  0.022906

                       model  precision  recall
4     DecisionTreeClassifier   0.324848  0.3180
3      KNeighborsClassifier9   0.321989  0.3195
1   RandomForestClassifier10   0.319968  0.3205
2  RandomForestClassifier100   0.319608  0.3210
0                Naive Bayes   0.246907  0.2775

# Model Evaluation

In [27]:
kappa = cohen_kappa_score(y_test, y_pred, weights ='quadratic')
print('kappa', round(kappa, 4))
print(confusion_matrix(y_test, y_pred))

kappa 0.1656
[[  3  14  21   3  12]
 [  6 123 169  46  63]
 [  5 113 223  82  93]
 [  4  90 168  77  89]
 [ 10 112 186  78 210]]

Using Cross Validation

In [28]:
k = 10
results = []
kf = KFold(n_splits=k)
for train_index, test_index in kf.split(X):
    X_train, X_test = X.values[train_index], X.values[test_index]
    y_train, y_test = y.values[train_index], y.values[test_index]
    model.fit(X_train, y_train.ravel())
    y_pred = model.predict(X_test)
    kappa = cohen_kappa_score(y_test, y_pred, weights ='quadratic')
    results.append(round(kappa, 4))

print('Kappa for each fold:', results)
print('AVG(kappa)', round(np.mean(results), 4))
print('STD(kappa)', round(np.std(results), 4))

Kappa for each fold: [0.1957, 0.1588, 0.2006, 0.1387, 0.225, 0.189, 0.1831, 0.1369, 0.1893, 0.1594]
AVG(kappa) 0.1776
STD(kappa) 0.0269

# Tuning the Thresholds

In [29]:
model = RandomForestClassifier(n_estimators=100)
model.fit(X_train, y_train)
for i in range(1,10):
    print(i)
    y_pred = model.predict_proba(X_test)[:,1]
    y_pred = [1 if x > i/10.0 else 0 for x in y_pred]
    precision = precision_score(y_test, y_pred,average='weighted')
    recall = recall_score(y_test, y_pred,average='weighted')
    print(confusion_matrix(y_test, y_pred))
    print('Precision', precision)
    print('Recall', recall)

/home/tiffany/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

1
[[  6  10   0   0   0]
 [ 40 153   0   0   0]
 [ 69 210   0   0   0]
 [ 72 153   0   0   0]
 [110 177   0   0   0]]
Precision 0.04232749974855238
Recall 0.159
2
[[ 10   6   0   0   0]
 [ 72 121   0   0   0]
 [122 157   0   0   0]
 [119 106   0   0   0]
 [185 102   0   0   0]]
Precision 0.047780407784392805
Recall 0.131
3
[[ 13   3   0   0   0]
 [147  46   0   0   0]
 [235  44   0   0   0]
 [185  40   0   0   0]
 [247  40   0   0   0]]
Precision 0.051569430562448004
Recall 0.059
4
[[ 14   2   0   0   0]
 [170  23   0   0   0]
 [265  14   0   0   0]
 [212  13   0   0   0]
 [272  15   0   0   0]]
Precision 0.06649381708819248
Recall 0.037
5
[[ 14   2   0   0   0]
 [178  15   0   0   0]
 [268  11   0   0   0]
 [217   8   0   0   0]
 [280   7   0   0   0]]
Precision 0.06755964618113774
Recall 0.029
6
[[ 14   2   0   0   0]
 [181  12   0   0   0]
 [274   5   0   0   0]
 [220   5   0   0   0]
 [283   4   0   0   0]]
Precision 0.08294473838918283
Recall 0.026
7

/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

[[ 15   1   0   0   0]
 [186   7   0   0   0]
 [277   2   0   0   0]
 [223   2   0   0   0]
 [284   3   0   0   0]]
Precision 0.0903103214890017
Recall 0.022
8
[[ 15   1   0   0   0]
 [188   5   0   0   0]
 [278   1   0   0   0]
 [223   2   0   0   0]
 [286   1   0   0   0]]
Precision 0.09674242424242425
Recall 0.02
9
[[ 16   0   0   0   0]
 [191   2   0   0   0]
 [278   1   0   0   0]
 [224   1   0   0   0]
 [286   1   0   0   0]]
Precision 0.07745728643216081
Recall 0.018

/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
/home/tiffany/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

# Prepare submission

In [ ]:
df_prediction = df_test[X_columns]
df_test['AdoptionSpeed'] = model.predict(df_prediction)
df_test[['PetID', 'AdoptionSpeed']]

In [ ]:
df_test[['PetID', 'AdoptionSpeed']].to_csv('submission_knn.csv', index=False)